acpi
alacritty
alsa-firmware
alsa-utils
archlinux-xdg-menu
aria2
authy
autoconf
automake
b43-fwcutter
base
bat
bison
bluez-utils
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
boost
broadcom-wl-dkms
{{- end }}
brave-bin
{{- if eq .chezmoi.hostname "msi" }}
calibre
{{- end }}
capitaine-cursors
chezmoi
colordiff
dunst
exa
fd
feh
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
ffmpegthumbnailer
file-roller
{{- end }}
firefox
flameshot
flex
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
fsarchiver
gftp
{{- end }}
github-cli
glances
gnu-netcat
grub2-theme-endeavouros
gruvbox-dark-gtk
gruvbox-dark-icons-gtk
gspell
gst-plugins-ugly
gtop
hardinfo
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
haveged
{{- end }}
htop
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
hwdetect
{{- end }}
hwinfo
i3blocks
intel-ucode
ipw2100-fw
ipw2200-fw
jq
keybase
kbfs
keybase-gui
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
libgsf
libopenraw
libpwquality
{{- end }}
libwnck3
lightdm-gtk-greeter-settings
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
logrotate
lsscsi
{{- end }}
lxappearance-gtk3
man-db
man-pages
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
mc
memtest86+
menumaker
{{- end }}
mpv
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
nbd
ndisc6
{{- end }}
neovim
netctl
network-manager-applet
networkmanager-openvpn
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
nfs-utils
ntp
nvidia-installer-dkms
openconnect
opendesktop-fonts
{{- end }}
otf-font-awesome
paprefs
pavucontrol
pcurses
pkgconf
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
pkgfile
poppler-glib
pptpclient
pulseaudio-bluetooth
pulseaudio-jack
{{- end }}
{{- if eq .chezmoi.hostname "msi" }}
qutebrowser
{{- end }}
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
refind
{{- end }}
restic
ripgrep
rofi
rp-pppoe
rsync
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
s-tui
{{- end }}
screenfetch
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
sdparm
sg3_utils
{{- end }}
starship
sxiv
syncthing
sysstat
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
tcpdump
{{- end }}
tlp
transmission-gtk
ttf-fira-code
ttf-nerd-fonts-symbols-mono
veracrypt
vifm
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
vlc
wget
wifi-radar
{{- end }}
wvdial
xcursor-neutral
xdg-user-dirs-gtk
xf86-video-amdgpu
xf86-video-ati
xf86-video-fbdev
xf86-video-intel
xf86-video-vesa
xl2tpd
xorg-server
xorg-xinit
xorg-xinput
xorg-xkill
