{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}acpi
{{- end }}
alacritty
alsa-firmware
alsa-utils
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
arc-gtk-theme
arc-x-icons-theme
archlinux-xdg-menu
{{- end }}
aria2
autoconf
automake
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
b43-fwcutter
base
{{- end }}
bat
bison
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
bluez-utils
boost
broadcom-wl-dkms
{{- end }}
{{- if eq .chezmoi.hostname "msi" }}
calibre
{{- end }}
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
capitaine-cursors
{{- end }}
chezmoi
{{- if eq .chezmoi.hostname "msi" }}
chromium
{{- end }}
colordiff
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
dconf-editor
dmidecode
downgrade
doxygen
efitools
endeavouros-keyring
endeavouros-mirrorlist
eos-update-notifier
{{- end }}
exa
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
expect
{{- end }}
feh
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
ffmpegthumbnailer
file-roller
{{- end }}
firefox
flex
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
fsarchiver
galculator
gftp
glances
gnu-netcat
gparted
grsync
grub2-theme-endeavouros
gspell
gst-plugins-ugly
gtop
{{- end }}
gvim
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
hardinfo
haveged
htop
hwdetect
hwinfo
i3blocks
intel-ucode
ipw2100-fw
ipw2200-fw
jq
libgsf
libopenraw
libpwquality
libwnck3
lightdm-gtk-greeter-settings
logrotate
lsscsi
lxappearance-gtk3
{{- end }}
man-db
man-pages
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
mc
memtest86+
menumaker
{{- end }}
mpv
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
nano
nbd
ndisc6
{{- end }}
netctl
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
network-manager-applet
networkmanager-openvpn
nfs-utils
nitrogen
ntp
nvidia-installer-dkms
openconnect
opendesktop-fonts
otf-font-awesome
paprefs
pavucontrol
pcurses
picom
{{- end }}
pkgconf
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
pkgfile
poppler-glib
pptpclient
pulseaudio-bluetooth
pulseaudio-jack
refind-efi
{{- end }}
restic
rofi
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
rp-pppoe
{{- end }}
rsync
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
s-tui
screenfetch
sdparm
sg3_utils
{{- end }}
syncthing
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
sysstat
tcpdump
tlp
transmission-gtk
ttf-caladea
ttf-carlito
ttf-opensans
ttf-ubuntu-font-family
upower
{{- end }}
veracrypt
vi
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
wget
wifi-radar
wvdial
xcursor-neutral
xdg-user-dirs-gtk
xf86-video-amdgpu
xf86-video-ati
xf86-video-fbdev
xf86-video-intel
xf86-video-vesa
xl2tpd
{{- end }}
xorg-server
{{- if eq .chezmoi.hostname "zenbook-endeavouros" }}
xorg-xinit
xorg-xinput
xorg-xkill
{{- end }}
