alacritty
aria2
authy
bat
brave-bin
{{- if eq .chezmoi.hostname "msi" }}
calibre
{{- end }}
capitaine-cursors
chezmoi
colordiff
dunst
exa
fd
feh
flameshot
github-cli
gruvbox-dark-gtk
gruvbox-dark-icons-gtk
gst-plugins-ugly
gtop
hardinfo
htop
keybase
kbfs
keybase-gui
mpv
neovim
network-manager-applet
networkmanager-openvpn
otf-font-awesome
pavucontrol
{{- if eq .chezmoi.hostname "msi" }}
qutebrowser
{{- end }}
restic
ripgrep
rofi
rp-pppoe
rsync
starship
sxiv
syncthing
sysstat
ttf-fira-code
ttf-nerd-fonts-symbols-mono
veracrypt
vifm
