[user]
	email = "{{ .email }}"
	name = "{{ .name }}"
[diff]
	tool = vimdiff
	compactionHeuristic = true
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
 conflictstyle = diff3
 tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
