[user]
	email = "{{ .email }}"
	name = "{{ .name }}"
	signingkey = {{ .signingkey }} 
[diff]
	tool = nvimdiff
	compactionHeuristic = true
[merge]
	tool = nvimdiff2
[mergetool]
	prompt = false
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[credential "https://gitlab.com"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
[commit]
	gpgsign = true
