{{- if eq .chezmoi.hostname "msi" }}#!/bin/bash

restic -r {{ .resticrepo }} backup ~ \
	--exclude target \
	--exclude node_modules \
	--exclude ~/.mozilla \
	--exclude ~/.cache \
	--exclude ~/.local/share \
	--exclude ~/.npm \
	--exclude ~/.esd_auth \
	--exclude ~/.dmenu_cache \
	--exclude ~/.xsession-errors \
	--exclude ~/.bash_history \
	--exclude ~/.gnome \
	--exclude ~/.hplip \
	--exclude ~/.node-gyp \
	--exclude ~/.config \
	--exclude ~/.cargo \
	--exclude ~/.rustup \
	--exclude ~/.vim \
	--exclude ~/keybase \
	--exclude ~/workspace \
	--excluse ~/.logseq
	--exclude ~/.thumbnails
{{- end }}
