#!/bin/bash

su -c "pacman -S --needed \
alacritty \
alsa-firmware \
alsa-plugins \
alsa-utils \
aria2 \
autoconf \
automake \
bash \
bash-completion \
bat \
binutils \
bison \
bzip2 \
calibre \
chezmoi \
chromium \
colordiff \
coreutils \
cryptsetup \
cups \
device-mapper \
dhcpcd \
diffutils \
dmenu \
e2fsprogs \
exa \
fakeroot \
fd \
feh \
file \
filesystem \
findutils \
firefox \
flex \
gawk \
gcc \
gcc-libs \
gettext \
git \
glibc \
grep \
grub \
gvim \
gzip \
i3-gaps \
i3lock \
i3status \
imlib2 \
inetutils \
iproute2 \
iputils \
jfsutils \
keepassxc \
less \
licenses \
lightdm \
lightdm-gtk-greeter \
linux \
logrotate \
lvm2 \
m4 \
make \
man-db \
man-pages \
mdadm \
mpv \
netctl \
nnn \
npm \
ntfs-3g \
openssh \
openvpn \
pacman \
patch \
pavucontrol \
pciutils \
perl \
pkgconf \
procps-ng \
psmisc \
pulseaudio \
pulseaudio-alsa \
python-gobject \
qutebrowser \
reiserfsprogs \
restic \
rsync \
s-nail \
sed \
shadow \
sudo \
syncthing \
sysfsutils \
systemd-sysvcompat \
tar \
texinfo \
ttf-inconsolata \
udevil \
unzip \
usbutils \
util-linux \
veracrypt \
vi \
wget \
which \
xfsprogs \
xorg-server \
xorg-xinit \
youtube-dl \
zathura \
zathura-pdf-mupdf"
