# espanso configuration file

# This is the default configuration file, change it as you like it
# You can refer to the official documentation:
# https://espanso.org/docs/
toggle_key: LEFT_ALT

# Matches are the substitution rules, when you type the "trigger" string
# it gets replaced by the "replace" string.
matches:
  # Simple text replacement
  - trigger: "cdt"
    replace: "Cordialement,"

  - trigger: ":we:"
    replace: "week-end"

  - trigger: ":jd"
    replace: "{{ .name }}"

  - trigger: ":adr"
    replace: "{{ .email }}"

  - trigger: ":sm:"
    replace: "Scrum Master"

  - trigger: ":hk"
    replace: "Highlights Kindle"

  - trigger: ":cr:"
    replace: "compte-rendu"

  - trigger: ":Cr:"
    replace: "Compte-rendu"

  - trigger: ":ajd"
    replace: "aujourd'hui"

  - trigger: ":apm"
    replace: "après-midi"

  - trigger: ":ty"
    replace: "Thank you"

  # Dates
  - trigger: ":date"
    replace: "{{mydate}}"
    vars:
      - name: mydate
        type: date
        params:
          format: "%d/%m/%Y"

  - trigger: ":sdate"
    replace: "{{mydate}}"
    vars:
      - name: mydate
        type: date
        params:
          format: "%Y-%m-%d"

